@model ETicaretData.Identity.AppUser
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Profil Bilgileri</h3>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Ad:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Name
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Soyad:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.SurName
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Kullanıcı Adı:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.UserName
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>E-posta:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Email
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-controller="Order" asp-action="Index" class="btn btn-info">
                        <i class="fa-solid fa-box"></i> Siparişlerim
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 